@import "tailwindcss";

* {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.arrows {
  background-color: red;
  width: 40px;
  height: 40px;
}
